.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
    padding-bottom: 5px;
    margin-right: 10px;
}

.product-name{
    color: rgba(0, 0, 255, 0.692);
}
.main-button{
    background-color: goldenrod;
    width: 150px;
    height: 25px;
    border: 2px solid black;
    border-radius: 5px;
}